<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRM</title>
</head>
<body>
    <a href="{% url 'leads:lead-list' %}">Leads</a>

    <hr />

    <h1>{{ lead }}</h1>

    <p>Age: {{lead.age}}</p>

    <p>Agent: {{lead.agent}}</p>

    <hr />

    <div>
        <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>

        <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
    </div>
</body>
</html>